* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Buttons for operations */
.opBtn {
  color: white;
  padding: 0.30rem;
  margin: 4px 0px;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Input fields for operations */
.opInput {
  padding: 0.25rem;
  height: fit-content;
  margin: 4px 0px;
  border: 1px solid #d1d5db;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.arrayDiv {
  border-radius: 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* Medium screen (768px and up): override px */
@media (min-width: 768px) {
  .arrayDiv {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* === Custom dark theme button === */
.dark .opBtn {
  @apply bg-gray-700 hover:bg-gray-600 text-gray-300;
}

/* === Custom dark theme input === */
.dark .opInput {
  @apply bg-gray-800 text-gray-100 placeholder-gray-400 border border-gray-600;
}

/* medium to larger screen */
@media (min-width: 768px) {
  .opBtn {
    padding: 0.55rem;
    margin: 0; 
  }
  .opInput {
    padding: 0.5rem;
    margin: 0; 
  }
}

/* large screen */
@media (min-width: 1024px) {
  .opBtn {
    font-weight: bold;
  }
}

/* Scale up by 1.05 */
/* @keyframes scaleUp105 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
} */

/* scale up btn while hovering */
.btnAnimate {
  transition: transform 0.03s ease-in-out;
}
.btnAnimate:hover {
  transform: scale(1.07);
}

/* scale up div while hovering */
.divAnimate {
  transition: transform 0.2s ease-in-out;
}
.divAnimate:hover {
  transform: scale(1.05);
}