
@keyframes scaleUp105 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.btnAnimate {
  transition: transform 0.03s ease-in-out;
}

.btnAnimate:hover {
  transform: scale(1.07);
}

.divAnimate {
  transition: transform 0.2s ease-in-out;
}

.divAnimate:hover {
  transform: scale(1.05);
}